el {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    display: block;
    font-size: 1.5em;
    line-height: 3em;
    text-align: center;
    width: 3em;
}

.container {
    display: flex;
    border: 1px solid black;
}

.verd1 {
    background-color: green;
    height: 400px;
}

.toronja1 {
    background-color: orange;
    height: 400px;
}

.violeta1 {
    background-color: blueviolet;
    height: 400px;
}

.groc1 {
    background-color: yellowgreen;
    height: 400px;
}

.blau1 {
    background-color: blue;
    height: 400px;
}

.container1 {
    flex-wrap: wrap;
}

.verd2 {
    background-color: green;
    width: 25%;
    height: 100px;
}

.toronja2 {
    background-color: orange;
    width: 25%;
    height: 100px;
}

.violeta2 {
    background-color: blueviolet;
    width: 25%;
    height: 100px;
}

.groc2 {
    background-color: yellowgreen;
    width: 25%;
    height: 100px;
}

.blau2 {
    background-color: blue;
    width: 25%;
    height: 100px;
}

.container2 {
    flex-wrap: wrap;
}

.verd3 {
    background-color: green;
    width: 25%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toronja3 {
    background-color: orange;
    width: 25%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.violeta3 {
    background-color: blueviolet;
    width: 25%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.groc3 {
    background-color: yellowgreen;
    width: 25%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blau3 {
    background-color: blue;
    width: 25%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}












.container3 {
    flex-wrap: wrap;
    gap: 5px;
}

.verd4 {
    background-color: green;
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toronja4 {
    background-color: orange;
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.violeta4 {
    background-color: blueviolet;
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.groc4 {
    background-color: yellowgreen;
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blau4 {
    background-color: blue;
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}













.container5{
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    justify-content: space-between;
}


.verd {
    background-color: green;
    width: 25%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toronja {
    background-color: orange;
    width: 25%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.violeta {
    background-color: blueviolet;
    width: 25%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.groc{
    background-color: yellowgreen;
    width: 25%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blau{
    background-color: blue;
    width: 25%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.amplada100 {
    width: 100%;
}

.amplada50{
    width: 50%;
}